<h1 class="page-title">Postagens</h1>

<ng-container *ngIf="posts$ | async as posts; else loading">
  <div *ngFor="let post of posts; trackBy: itemTracked" class="post">
    <div>
      <h2>{{ post.title }}</h2>
      <p class="post-body">{{ post.body }}</p>
    </div>
    <app-options-menu
      (edit)="onEdit(post)"
      (remove)="onRemove(post.id)"
    ></app-options-menu>
  </div>
</ng-container>

<ng-container *ngIf="(postsError$ | async)">
  <p>Houve um erro ao carregar os dados</p>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<app-add-button (add)="addPost()"></app-add-button>
