$light-50: #FAF5FF;
$light-100: #F3E8FF;
$light-200: #E9D5FF;
$light-300: #D8B4FE;
$light-400: #C084FC;
$light-500: #A855F7;
$light-600: #9333EA;
$light-700: #7E22CE;
$light-800: #6B21A8;
$light-900: #581C87;

$contrast-light-50: #FFF;
$contrast-light-100: #FFF;
$contrast-light-200: #FFF;
$contrast-light-300: #FFF;
$contrast-light-400: #FFF;
$contrast-light-500: #FFF;
$contrast-light-600: #FFF;
$contrast-light-700: #FFF;
$contrast-light-800: #FFF;
$contrast-light-900: #FFF;
