.album {
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
    text-align: center;
  }

  border-bottom: 1px solid #CCC;

  &:hover {
    transition: all 250ms ease;
    opacity: 0.6;
  }
}
