.album {
  padding: 1rem;
  border-radius: 5px;
  h2 {
    margin: 0;
    text-align: center;
  }
  &:hover {
    transition: all 250ms ease;
    box-shadow: var(--shadow-color) 0px 6px 12px -2px, var(--shadow-color) 0px 3px 7px -3px;
  }
}
