html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --shadow-color: rgba(126, 34, 206, 0.25);
  --border-color: rgb(126, 34, 206);
}

.dark:root {
  --shadow-color: rgba(21, 128, 61, 0.25);
  --border-color: rgb(21, 128, 61);
}

.page-title {
  padding: 0.5rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  text-align: center;
}