<h1 class="page-title">Albuns</h1>

<ng-container *ngIf="albums$ | async as albums; else loading">
  <div *ngFor="let album of albums; trackBy: itemTracked" class="album">
    <h2>{{ album.title }}</h2>
    <app-options-menu
      (edit)="onEdit(album)"
      (remove)="onRemove(album.id)"
    ></app-options-menu>
  </div>
</ng-container>

<ng-container *ngIf="(albumError$ | async)">
  <p>Houve um erro ao carregar os dados</p>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<app-add-button (add)="addAlbum()"></app-add-button>
